package minimal

import "github.com/mgjules/mgjules-go/entity"

templ NotFound(meta entity.Meta, links []entity.Link, intro entity.Introduction) {
	{{ setCurrentLink(links, "not_found") }}
	@Base(meta, links, intro) {
		<div>
			Not Found
		</div>
	}
}
